<!DOCTYPE html>
<html>
<head>
  <title>Young Hearts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/assests/js/bootstrap-dropdown.js">
  </script>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
    <div id="banner">
      <div class="row">
        <div class="span2">
          <%= link_to image_tag(asset_path "223_young_hearts.jpg"), home_path %>
        </div>
        <div class="span6">
          <h2>The Young Hearts Foundation</h2>
        </div>
      </div>
    </div>
    <div id="rows">
      <div id="top">
        <ul>
          <li><%= link_to 'Home', home_path, {:class => 'li_main_class'} %></li>
          <li><%= link_to 'Story', story_path, {:class => 'li_main_class'} %></li>
          <li><%= link_to 'Events', events_path, {:class => 'li_main_class'} %></li>
          <li><%= link_to 'Contact', contact_path, {:class => 'li_main_class'} %></li>
          <% if admin_signed_in? %>
            <li>
              <%= link_to "Edit Admin", edit_admin_registration_path, {:class=>'li_main_class'} %>
            </li>
            <li>
              <%= link_to "Logout", destroy_admin_session_path, {:method => :delete, :class=> 'li_main_class'} %>
            </li>
          <% else %>
          <% end %>

        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
</body>
</html>
