<!DOCTYPE html>
<html>
<head>
  <title>Young Hearts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
    <div id="banner">
      <h4>The Young Hearts Foundation</h4>
    </div>
    <div id="rows">
      <div id="top">
        <ul>
          <li><%= link_to 'Home', home_path, {:class => 'li_main_class'} %></li>
          <li><%= link_to 'Events', events_path, {:class => 'li_main_class'} %></li>
          <li><%= link_to 'Contact', contact_path, {:class => 'li_main_class'} %></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
</body>
</html>
